{% macro url(short) -%}
    {{ web_root }}{{ short }}
{%- endmacro %}

{% macro format_addr(addr) -%}
    <span class="monospace">{{ addr }}</span>
{%- endmacro -%}

{% macro format_yesno(val) -%}
    {% if val %}
	yes
    {% else %}
	no
    {% endif %}
{%- endmacro %}

{% macro format_action_string(astr) -%}
    <span class="monospace">{{ astr }}</span>
{%-  endmacro %}

{% macro format_signature(sig) -%}
    <span class="monospace">{{ sig }}</span>
{%- endmacro %}

{% macro format_member_link(member) -%}
    <a href="{{ url('render/member/'+member.hashref()) }}"> {{ member.name }}, {{ format_addr(member.address) }}</a>    
{%- endmacro %}

{% macro format_member_list_link(ml) -%}
    <a href="{{ url('render/member_list/'+ml.hashref()) }}">member list</a>
{%- endmacro %}

{% macro format_filename(fn) -%}
    <span class="monospace">{{ fn }}</span>
{%- endmacro %}

{% macro format_hash(hash) -%}
    <span class="monospace">{{ hash }}</span>
{%- endmacro %}

{% macro format_object_type(type) -%}
    <span class="monospace">{{ type }}</span>
{%- endmacro %}

{% macro format_vote_method(method) -%}
    <span class="monospace">{{ method }}</span>
{%- endmacro %}

{% macro format_vote_options(method) -%}
    <span class="monospace">{{ method }}</span>
{%- endmacro %}


{% macro form_js() %}
    <script type="text/javascript">
     var doc_hash="<hash-missing>";
     function fill_sig() {
	 var action_string = $("textarea[name='action_string']").val();
	 var privkey = $("input[name='privkey']").val();
	 if (action_string.length !=0 && privkey.length != 0) {
	     var keypair = bitcoin.ECPair.fromWIF(privkey);
	     var prefix = bitcoin.networks.bitcoin.messagePrefix;
	     var pk = keypair.d.toBuffer(32);
	     var sig = bitcoinMessage
		 .sign(action_string, prefix, pk, keypair.compressed)
		 .toString('base64');
	     $("input[name='signature']").val(sig);
	 }
     }

     function fileUploadCalcHash() {
	 var upload_ele=document.getElementById("file-upload");

	 if (upload_ele != null) {
	     var upload=upload_ele.files[0];
	     var reader = new FileReader();
	     reader.onload = function(event) {
		 doc_hash=sha256(event.target.result);
		 recalc();
	     }
	     //console.log("Upload:", upload);
	     reader.readAsArrayBuffer(upload);
	 }
     }

     $("#file-upload").change(fileUploadCalcHash);
     $("input[name='author_name']").change(recalc);
     $("input[name='author_name']").keyup(recalc);
     $("textarea[name='action_string'], input[name='privkey']").change(recalc);
     $("textarea[name='action_string'], input[name='privkey']").keyup(recalc);

     $("#main-form").submit(function() {
	 // privkey is in separate form and will not be submitted (tested on FF)
	 // however, to be extra sure, clear it just before submission
	 $("input[name='privkey']").val("");
     });
    </script>
{% endmacro %}

{% macro form_label(text) -%}
    <label class="col col-3 bold">{{ text }}</label>
{%- endmacro %}

{% macro mainform_begin() %}
    <div class="p2">
    <form method="post" action="{{ url('action') }}" enctype="multipart/form-data" id="main-form">
{% endmacro %}

{% macro mainform_end() %}
    </form>
    </div>
{% endmacro %}

{% macro ff_begin() %}
    <div class="p1 clearfix">
{% endmacro %}

{% macro ff_end() %}
    </div>
{% endmacro %}

{% macro ff_input_class() -%}
    col col-3
{%- endmacro %}

{% macro form_action_string() %}
    {{ ff_begin() }}
    {{ form_label("Action string") }}
    <textarea class="col col-9 form-gray" type="text" name="action_string" rows="6"
	      readonly="readonly" onclick="this.focus();this.select();document.execCommand('copy')" ></textarea>
    {{ ff_end() }}
{% endmacro %}

{% macro form_signature() %}
    {{ ff_begin() }}
    {{ form_label("Signature") }}
    <input class="col col-9" type="text" name="signature" id="signature"/>
    {{ ff_end() }}
{% endmacro %}

{% macro form_author() %}
    {{ ff_begin() }}
    {{ form_label("Author") }}
    <input class="{{ ff_input_class() }}" type="text" name="author_name"/>
    {{ ff_end() }}
{% endmacro %}

{% macro form_upload() %}
    {{ ff_begin() }}
    {{ form_label("File to upload") }}
    <input class="{{ ff_input_class() }}" type="file" name="upload" id="file-upload"/><br/>
    {{ ff_end() }}
{% endmacro %}

{% macro form_author_votemaster() %}
    {{ ff_begin() }}
    {{ form_label("Author (Votemaster)") }}
    <input class="{{ ff_input_class() }}" type="text" name="author_name" value=""/>
    {{ ff_end() }}
{% endmacro %}

{% macro form_text(label, field, value) %}
    {{ ff_begin() }}
    {{ form_label(label) }}
    <input class="{{ ff_input_class() }}"
	   type="text"
	   name="{{ field }}" value="{{ value }}">
    {{ ff_end() }}
{% endmacro %}

{% macro form_text_ro(label, field, value) %}
    {{ ff_begin() }}
    {{ form_label(label) }}
    <input class="{{ ff_input_class() }} form-gray"
	   type="text"
	   name="{{ field }}" value="{{ value }}" readonly="readonly">
    {{ ff_end() }}
{% endmacro %}

{% macro form_addr(label, field, value) %}
    {{ ff_begin() }}
    {{ form_label(label) }}
    <input class="col col-6"
	   type="text"
	   name="{{ field }}" value="{{ value }}">
    {{ ff_end() }}
{% endmacro %}

{% macro form_addr_ro(label, field, value) %}
    {{ ff_begin() }}
    {{ form_label(label) }}
    <input class="col col-6 form-gray"
	   type="text"
	   name="{{ field }}" value="{{ value }}" readonly="readonly">
    {{ ff_end() }}
{% endmacro %}

{% macro form_hash_ro(label, name, hashval) %}
    {{ ff_begin() }}
    {{ form_label(label) }}
    <input class="col col-8 form-gray" type="text" name="{{ name }}" value ="{{ hashval }}" readonly="readonly"/>
    {{ ff_end() }}
{% endmacro %}

{% macro form_ballot_ara() %}
    {{ ff_begin() }}
    {{ form_label("Ballot option") }}
    <div class="col col-6">
	<div class="radio">
	    <label><input type="radio" name="ballot_option" value="accept">Accept</label>
	</div>
	<div class="radio">
	    <label><input type="radio" name="ballot_option" value="reject">Reject</label>
	</div>
	<div class="radio">
	    <label><input type="radio" name="ballot_option" value="abstain">Abstain</label>
	</div>
	<div class="radio">
	    <label><input type="radio" name="ballot_option" value="spoil">Spoil</label>
	</div>
    </div>
    {{ ff_end() }}
{% endmacro %}

{% macro form_submit() %}
    <button type="submit" name="submit">Submit</button>
{% endmacro %}

{% macro privkeyform() %}
    <hr/>
    <div class="p2">
    <form>
	<div class="p2 center alert alert-danger">OPTIONAL, DANGEROUS PRIVATE KEY ENTRY BELOW</div>
	{{ ff_begin() }}
	{{ form_label("Private key") }}
	<input type="text" name="privkey" class="col col-9">
	{{ ff_end() }}
	<div class="alert alert-danger">
	    <p>
		WARNING: Entering your private key here is dangerous. You are trusting your browser and this website to not leak it. Bugs may happen! You can alternatively insert a signature generated offline above.
	    </p>
	    <p>
		<b>FURTHER NOTE THAT THE JS CLIENT CODE HAS <emph>NOT</emph> UNDERGONE A PROPER PEER REVIEW YET!</b>
	    </p>
	    <p>
		<b>Note <i>also</i> that any key pasted will be visible on your screen!</b>
	    </p>
	</div>
    </form>
    </div>
    <hr/>
{% endmacro %}


{% macro pageheader_items() %}
    <div class="left">
	<a href="/"><img class="header__logo" src="/img/bitcoin-unlimited.png"></a>
    </div>
    <div class="left">
	<div class="h1 black inline-block mx2 py2">Bitcoin Unlimited Voting</div>
    </div>
    <div class="right">
	<div class="dropdown__container">
	    <div class="dropdown__title">
		<a class="non-decorated black inline-block mx2 py2" href="/">Home</a>
	    </div>
	</div>
    </div>
    <div class="right">
	<div class="dropdown__container">
	    <div class="dropdown__title">
		<a class="non-decorated black inline-block mx2 py2" href="/voting/">Voting home</a>
	    </div>
	</div>
    </div>
{% endmacro %}
{% block wholepage -%}
<!DOCTYPE html>
<!-- Note: This is a partial copy of the contents of BitcoinUnlimitedWeb (for reference, see
     https://github.com/BitcoinUnlimited/BitcoinUnlimitedWeb), to integrate the voting system with the rest of
     the new web site. -->
<html>
    <head> {% block headerdefault %}
        <title>Bitcoin Unlimited Voting System</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="The Peer-to-Peer Electronic Cash System for Planet Earth.">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/basscss.css">
        <link rel="stylesheet" href="/css/bu.css">
        <link rel="stylesheet" href="/css/site.css">
        <link rel="icon" type="image/vnd.microsoft.icon" href="/img/favicon.ico">
    {% endblock %}
    {% block headerextra %}
    {% endblock %}
    </head>
    <body class="avenir">
	{% block busite_pageheader %}
	    <div class="header--web header__container--web clearfix">
		{{ pageheader_items() }}
	    </div>
	    <!-- FIXME/TODO: Check on mobile -->
	    <div class="header--mobile header__container clearfix">
		{{ pageheader_items() }}
	    </div>
	    <div class="banner"></div>
	{% endblock %}
	
        {% block bodydefault %}
            <script src='{{ url("js/jquery-3.2.1.min.js") }}'></script>
	    <script src='{{ url("js/bitcoinjs.js") }}'></script>
	    <script src='{{ url("js/bitcoinjs_message.js") }}'></script>
	    <script src='{{ url("js/sha256.js") }}'></script>
	    <style type="text/css">
	     .item-valid {
		 color : green;
	     }
	     .item-invalid {
		 color : red;
	     }
	     .warning {
	     }
	     .alert {
		 background-color : pink;
	     }
	     .monospace {
		 font-family: monospace;
	     }
	     .table-head {
		 background-color : #8080ff;
	     }
	     .form-gray {
		 background-color : #e0e0e0;
	     }
	    </style>
	{% endblock %}
	<div class="p2 py2"> 
	    <div class="section__container">
		{% block body %}
		{% endblock %}
	    </div>
	</div> 
	<div class="banner"></div>
	{% if render_object_id is defined %}
	    <div class="p2 py2">
		<div class="section__container">
		    <div class="p2">
			This object in the voting system can be exported
			as JSON. Additionally, a ZIP containing this
			object's JSON plus the JSON of all dependencies
			can be exported as well. For export of the data,
			please click on the appropriate link below. Of
			course, access to this API can also be automated
			through <span class="monospace">wget</span> or
			similar means.

			JSON representations of all public objects
			are accessible using the URL pattern <span class="monospace">{{ url('raw/<object-type>/<sha256-hash>') }}</span>,
			such as for the link below.
		    </div>
		    
		    <a href="{{ url('raw/' + render_object_type+'/'+render_object_id) }}">[Raw data]</a>
		    <a href="{{ url('zip/' + render_object_type+'/'+render_object_id) }}">[ZIP including dependencies]</a>
		</div>
	    </div>
	{% endif %}
	<div class="p2 py2"></div>
    </body>
</html>
{%- endblock %}
