{% extends "common.html" %}
{% block body %}
    <h2>Test members and test keys</h2>
    <table>
    {% set tm = testmembers|list %}
    {% for member_name, address, privkey in tm %}
	<tr>
	    <td>{{ member_name }}</td>
	    <td>{{ format_addr(address) }}</span></td>
	    <td><span class="monospace">&nbsp;&nbsp;{{ privkey }}</span></td>
	</tr>
    {% endfor %}
    </table>

    <h2>Just privkey list (for quick import into e.g. Electrum)</h2>
    <table>
	{% for m, a, privkey in tm %}
	    <tr>
		<td>
		    <span class="monospace">{{ privkey }}</span>
		</td>
	    </tr>
	{% endfor %}
    </table>
{% endblock %}
