{% extends "common.html" %}
{% block body %}

    <h2>Publish proposal</h2>
    <form method="post" action="{{ url('action') }}" enctype="multipart/form-data" id="main-form">
	<div class="form-group">
	    {{ form_author_votemaster() }}
	    <label>Hash of file to publish</label>
	    <input class="form-control" type="text" name="file_hash" value ="{{ hashval }}" readonly="readonly"/><br/>
	    {{ form_action_string() }}
	    {{ form_signature() }}
	</div>
	<button type="submit" class="btn btn-primary" name="submit">Submit</button>
    </form>

    <p></p>
    
    {{ privkeyform() }}
    <script type="text/javascript">
     function recalc() {
	 var ap = "{{ action_prefix }}"+ "{{ cml.hashref() }} ";
	 var member = $("input[name='author_name']").val();
	 var file_hash = $("input[name='file_hash']").val();
	 if (member    === "" ||
	     file_hash === "") {
	     $("textarea[name='action_string']").val("");
	 } else {
	     var s= ap + "proposal-publish file "+file_hash+" by " + member;
	     $("textarea[name='action_string']").val(s);
	     fill_sig();
	 }
     };
     $(document).ready(recalc);
    </script>
    {{ form_js() }}


{% endblock %}
