{% extends "common.html" %}
{% block body %}

    <h2>Close member elections (all)</h2>
    <form method="post" action="{{ url('action') }}" enctype="multipart/form-data" id="main-form">
	<div class="form-group">
	    {{ form_author_votemaster() }}
	    <label>Elections to close</label>
	    <input class="form-control" type="text" name="ma_names" value ="{{ ma_names }}" readonly="readonly"/><br/>
            {{ form_action_string() }}
            {{ form_signature() }}
	</div>
	<button type="submit" class="btn btn-primary" name="submit">Submit</button>
    </form>

    <p></p>
    
    {{ privkeyform() }}
    <script type="text/javascript">
     function recalc() {
	 var ap = "{{ action_prefix }}"+"{{ cml.hashref() }} ";
	 var votemaster = $("input[name='author_name']").val();
	 var ma_names = $("input[name='ma_names']").val();

	 if (votemaster === "" ||
	     ma_names   === "") {
	     $("textarea[name='action_string']").val("");
	 } else {
	     var s= ap + "close-member-elections all [ "+ma_names+" ] by " + votemaster;
	     $("textarea[name='action_string']").val(s);
	     fill_sig();
	 }
     };
     $("input[name='vote_method']").change(recalc);
     $("input[name='vote_method']").keyup(recalc);
     $(document).ready(recalc);
    </script>
    {{ form_js() }}


{% endblock %}
