{% extends "common.html" %}
{% block body %}
    <h1>Proposal Upload</h1>
    {{ mainform_begin() }}
    {{ form_author() }}
    {{ form_upload() }}
    {{ form_action_string() }}
    {{ form_signature() }}
    {{ form_submit() }}
    {{ mainform_end() }}
    
    {{ privkeyform() }}
    
    <script type="text/javascript">
     function recalc() {
	 var ap = "{{ action_prefix }}"+"{{ cml.hashref() }} ";
	 var member = $("input[name='author_name']").val();

	 if (member === "" ||
	     doc_hash === "<hash-missing>") {
	     $("textarea[name='action_string']").val("");
	 } else {
	     var s= ap + "proposal-upload file "+doc_hash+" by " + member;
	     console.log("new action_string:", s);
	     $("textarea[name='action_string']").val(s);
	     fill_sig();
	 }
     };
    </script>

    {{ form_js() }}
{% endblock %}
