{% extends "common.html" %}
{% block body %}

    <h2>Cast ballot (member election)</h2>
    <form method="post" action="{{ url('action') }}" enctype="multipart/form-data" id="main-form">
	<div class="form-group">
            {{ form_author() }}
	    <label>Applicant Nickname</label>
	    <input class="form-control" type="text" name="member_name" value="{{ member_name }}"
                   readonly="readonly"/><br/>
	    <label>Applicant Bitcoin address</label>
	    <input class="form-control" type="text" name="member_address" value="{{ member_address }}"
                   readonly="readonly"/><br/>
	    {{ form_ballot_ara() }}
            {{ form_action_string() }}
            {{ form_signature() }}
	</div>
	<button type="submit" class="btn btn-primary" name="submit">Submit</button>
    </form>
    <p></p>

    {{ privkeyform() }}
    <script type="text/javascript">
     function recalc() {
	 var ap = "{{ action_prefix }}"+ "{{ cml.hashref() }} ";
	 var author = $("input[name='author_name']").val();
	 var member_name = $("input[name='member_name']").val();
	 var member_address = $("input[name='member_address']").val();
	 var ballot_option = $("input[name='ballot_option']:checked").val();

         if (member_name === ""    ||
             member_address === "" ||
             author === ""         ||
             (ballot_option !== "accept" &&
	      ballot_option !== "reject" &&
	      ballot_option !== "abstain" &&
	      ballot_option !== "spoil")) {
          $("textarea[name='action_string']").val("");
         } else {
          var s= ap + "cast-member-ballot name "+member_name+" address "+member_address+" by " +
                author + " answer "+ballot_option;
	  $("textarea[name='action_string']").val(s);
	  fill_sig();
         }
     };
     $("input[name='member_name']").change(recalc);
     $("input[name='member_name']").keyup(recalc);
     $("input[name='member_address']").change(recalc);
     $("input[name='member_address']").keyup(recalc);
     $("input[name='ballot_option']").change(recalc);
     $("input[name='ballot_option']").keyup(recalc);
     $(document).ready(recalc);
    </script>
    {{ form_js() }}


{% endblock %}
