{% extends "common.html" %}
{% block body %}
    <h1>Generic action submission form</h1>
    {{ mainform_begin() }}
    {{ form_author() }}

    {{ ff_begin() }}
    {{ form_label("Action string") }}
    <textarea class="col col-9" type="text" name="action_string" rows="3"
	      onclick="this.focus();this.select();document.execCommand('copy')">
    </textarea>
    {{ ff_end() }}

    {{ form_signature() }}
    {{ form_upload() }}
    {{ form_submit() }}
    {{ mainform_end() }}
    
    {{ privkeyform() }}

    <script type="text/javascript">
     function recalc() {
	 fill_sig();
     }
    </script>
    {{ form_js() }}
{% endblock %}
