{% extends "common.html" %}
{% block body %}
    <h1>Cast ballots on Members (all applying at once)</h1>
    
    {{ mainform_begin_multi() }}
    {{ form_author() }}

    <style>
     table { border-collapse: collapse; } tr { border: solid; border-width: 2px 0px; }
    </style>

    <table class="table col-12 center border">
        <thead class="table-head">
            <tr>
                <td><b>Member name</b></td></div>
                <td><b>Member address</b></td>
                <td><b>Vote</b></td>
            </tr>
        </thead>
        <tbody>
            {% for nmer in member_applications %}
                <tr>
                    <td>{{ nmer.new_member.name }}</td>
                    <td>{{ format_addr(nmer.new_member.address) }}</td>
                    <td>
                        {{ ff_begin() }}
	                    <div class="radio">
	                        <label><input type="radio"
                                              name="ballot_option_{{ loop.index }}" value="accept">Accept</label>
	                        <label><input type="radio"
                                              name="ballot_option_{{ loop.index }}" value="reject">Reject</label>
	                        <label><input type="radio"
                                              name="ballot_option_{{ loop.index }}" value="abstain">Abstain</label>
	                        <label><input type="radio"
                                              name="ballot_option_{{ loop.index }}" value="spoil">Spoil</label>
	                        <label><input type="radio"
                                              name="ballot_option_{{ loop.index }}" value="skip">Skip</label>
	                    </div>
                            <!-- {% if not loop.last %}<hr/> {% endif %} -->
                        {{ ff_end() }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ form_multi_action_string() }}
    {{ form_multi_signature() }}
    {{ form_submit() }}
    {{ mainform_end() }}

    {{ privkeyform() }}
    
    <script type="text/javascript">
     function recalc() {
	 var ap = "{{ action_prefix }}"+ "{{ cml.hashref() }} ";
         var sep = "\n@@@@@\n";
	 var voting_member = $("input[name='author_name']").val();
         
         var member_names = [];
         var member_addresses = [];
         var ballot_options = [];

         {% for nmer in member_applications %}
             member_names.push("{{ nmer.new_member.name }}");
             member_addresses.push("{{ nmer.new_member.address }}");
             ballot_options.push($("input[name='ballot_option_{{ loop.index }}']:checked").val());
         {% endfor %}
         
         var invalid = false;
	 if (voting_member === "") {
             $("textarea[name='action_string']").val("");
             invalid = true;
         } else {
             for (var i=0; i < ballot_options.length; i++) {
                 if (ballot_options[i] !== "accept"  &&
	             ballot_options[i] !== "reject"  &&
	             ballot_options[i] !== "abstain" &&
	             ballot_options[i] !== "spoil"   &&
                     ballot_options[i] !== "skip") {
                     $("textarea[name='action_string']").val("");
                     invalid = true;
                     break;
                 }
             }
         }

         if (! invalid) {
             var s = "";
             for (var i=0; i < ballot_options.length; i++) {
                 if (ballot_options[i] !== "skip") {
	             s+= (ap + 
                          "cast-member-ballot name " + 
                          member_names[i] + 
                          " address " + member_addresses[i]+
                          " by " + 
                          voting_member + 
                          " answer (" + 
                          ballot_options[i] + 
                          ")");

                     s+=sep;
                 }
             }
             // remove last separator
             if (ballot_options.length > 0) {
                 s = s.substring(0, s.length - sep.length);
             }
	     $("textarea[name='action_string']").val(s);
	     fill_sig();
	 }
     };
     {% for nmer in member_applications %}
           $("input[name='ballot_option_{{ loop.index }}']").change(recalc);
           $("input[name='ballot_option_{{ loop.index }}']").keyup(recalc);
     {% endfor %}
     $(document).ready(recalc);
    </script>
    {{ form_js() }}


{% endblock %}
