{% extends "common.html" %}
{% import "proplist.html" as proplist %}

{% block body %}
    <h1>Action</h1>
    <p>An {{ format_object_type("action") }} is any change submitted to the voting system, such as</p>
    <ul>
	<li>Casting a ballot on a proposal or member vote</li>
	<li>Uploading proposals</li>
	<li>Publishing proposals</li>
    </ul>

    <p>
	The author of this action is: {{ format_member_link(action.author) }}<br/>
    </p>

    <p>
	The {{ format_member_list_link(action.member_list) }} that this action was made for.
    </p>

    <p>
	The action string, which is the actual "command" part of the action:</p>
    <p>{{ format_action_string(action.action_string) }}</p>
    {%if action.signature %}
    <p> Signature:</p>
    <p>{{ format_signature(action.signature) }}</p>
    <p>
	This signature is the <span class="monospace">base64</span>-encoded
	Bitcoin-signature of the above action string, signed with this
	action author's Bitcoin address.
    </p>
    {% else %}
    <p>
        This action is part of a
        <a href="{{ url('render/multi_action/'+action.multi_action.hashref()) }}">multi-action</a>
        and only the multi-action is signed.
    </p>
    {% endif %}
{% endblock %}
