{% extends "common.html" %}
{% import "proplist.html" as proplist %}
{% block body %}
    <h1>Member list</h1>
    <p>
	This page is showing a <span class="monospace">member_list</span> object
	in the voting system. Member lists contain of members (which
	are pairs of a member's nickname and their respective Bitcoin
	voting address). In case a member list changes through voting
	action (new members voted in or old ones voted out), a member
	list will also refer to a previous member list.
	
	Additionally, a member list contains information on the
	members in official positions (secretary, president, ...).

	Members are current if they have voted on an issue within the
	last year. This is noted in the "eligible" column
	below. Members listed here which are not eligible are not
	members anymore as per the BU articles.
    </p>

    <p>
	One member list is marked as <emph>current</emph> in the
	system, and it is that member list which is checked to see
	whether a member is eligible to vote on proposals or in member
	elections.
    </p>
    
    {% if current %}
	<p class="item-valid">This is the current member list.</p>
	<h2>Propose new member</h2>
	<p>A new member can be proposed by the vote master <a href="{{ url('form/propose-member') }}">here</a>.</p>
    {% else %}
	<p class="item-invalid">This is not the current member list.</p>
    {% endif %}

    <h2>Previous member list</h2>
    {% if member_list.previous %}
	<p>
	    The member list preceding this one is available 
	    <a href="{{ url('render/member_list/'+member_list.previous.hashref()) }}">here</a>.
	</p>
    {% else %}
	There is no other member list preceding this one.
    {% endif %}

    <h2>Official positions</h2>
    <p>
	The official positions in BU, as per this member list, are:
	<ul>
	    <li><b>President:</b> {{ member_list.president.name }}, <span class="monospace">{{ member_list.president.address }}</span></li>
	    <li><b>Secretary:</b> {{ member_list.secretary.name }}, <span class="monospace">{{ member_list.secretary.address }}</span></li>
	    <li><b>Developer:</b> {{ member_list.developer.name }}, <span class="monospace">{{ member_list.developer.address }}</span></li>
	</ul>
    </p>
    <h2>Members</h2>
    <table class="table table-striped">
	<thead><tr><th>Handle</th><th>Voting Address</th><th>Expired</th></thead>
	    <tbody>
		{% for member in member_list.members %}
		    <tr>
			<td class="center"><a href="{{ url('render/member/'+member.hashref()) }}">{{ member.name }}</a></td>
			<td class="center"><pre>{{ member.address }}</pre></td>
			<td class="center">{{ format_yesno(not member.eligible()) }}</td>
		    </tr>
		{% endfor %}
	    </tbody>
    </table>

    {% set app = member_list.applications() %}
    {% if app | list | count > 0 %}
	<h2>Member Applications</h2>
	{% if member_list.current() %}
	    <p> The following is the list of new member applications:</p>
	{% else %}
	    <p>The following is the list of members that applied when this member list was current:</p>
	{% endif %}
	<div class="p2">
	    <table class="table col-12 center border">
		<thead class="table-head">
		    <tr>
			<th>Name</th>
			<th>Address</th>
			<th>Member election result</th>
			<th>Accepted?{% if member_list.current() %} (prelim.){% endif %}</th>
		    </tr>
		</thead>
		<tbody>
		    {% for mer in app %}
			<tr>
			    <td> {{ mer.new_member.name }} </td>
			    <td> {{ format_addr(mer.new_member.address) }} </td>
			    <td><a href="{{ url('render/member_election_result/'+ mer.hashref()) }}">result</a></td>
			    <td>
				{% if mer.summarize().accepted %}
				    <span class="item-valid">YES</span>
				{% else %}
				    <span class="item-invalid">NO</span>
				{% endif %}
			    </td>
		    {% endfor %}
		</tbody>
	    </table>
    {% endif %}
{% endblock %}
