{% extends "common.html" %}
{% import "proplist.html" as proplist %}

{% block body %}
    {% set pv = proposal_vote %}

    <h1>Proposal Vote</h1>
    <p>This is a {{  format_object_type("proposal_vote") }} object, containing details on the method etc. for a Proposal Vote. The (maybe ongoing) <a href="{{ url('render/proposal_vote_result/'+pv.result.hashref()) }}">result is available here</a>.</p>

    <p>The vote on this proposal uses the vote method: {{ format_vote_method(pv.method_name) }}</p>
    <p>With options: {{ format_vote_options(pv.method_options) }}</p>
    
    <p>This vote concerns the proposal with <a href="{{ url('render/proposal_metadata/'+pv.proposal_metadata.hashref()) }}">this proposal metadata</a>.</p>

    <p> The action to open this vote is <a href="{{ url('render/action/'+pv.action.hashref()) }}">this</a>.</p>
{% endblock %}
